 .profile-photo-edit form{
    margin-top: -17%;
    .btn-image{
        i{
            font-size: 25px;
        }
        position: relative;
        padding: 3px 6px 0;
        color: #534f4f;
        margin-left: 55px;
        border: 1px solid #534f4f;
        }
 }